*{
	margin:0px;
	padding:0px;
}

/*--------------*/
.button1{
	/*
	按钮浮动
	*/
	position:fixed;
	width:80px;
	height:360px;
	left:0px;
	top:150px;
}
.buttonone1{
	/*
	按钮大小
	*/
	width:80px;
	height:80px;
	margin-bottom:10px;
}

.content1{
	margin: 0 auto;
}

#ifrm{
	width: 100%;
	height:100%;
	border: none;
}


