<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>申请表</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <div class="_title">
            <p>index / 中央财政支持地方高校发展专项资金项目申请书</p>
        </div>

        <div class="button">
			<a th:href="@{/allp}"><div class="buttonone">返回</div></a>
			<a href=""><div class="buttonone">打印</div></a>
			<a href=""><div class="buttonone">保存</div></a>
		</div>

       <div class="table_title">
            <p class="table_title_p18 table_title_p_center">项目申请书</p>

            <table style="border-collapse: collapse;">
                <tr>
                    <td rowspan="13" class="table_w25">学<br/>校<br/>基<br/>本<br/>情<br/>况<br/></td>
                    <td class="table_w130">学校名称</td>
                    <td><input class="input_200" type="text" value="天津职业技术师范大学" /></td>
                    <td class="table_w150">学校类别</td>
                    <td class="table_w130"><input class="input_120" type="text" value="师范"></td>
                </tr>    
                <tr>
                    <td>详细地址</td>
                    <td><textarea class="textarea_address">天津市津南区大沽南路1310号</textarea></td>
                    <td>邮政编码</td>
                    <td><input class="input_120" type="text" value="师范"></td>
                </tr>
                <tr>
                    <td>在校生数（人）</td>
                    <td><input class="input_200" type="text" value="天津职业技术师范大学" /></td>
                    <td>教职工总数（人）</td>
                    <td><input class="input_120" type="text" value="师范"></td>
                </tr>
                <tr>
                    <td>其中：本／专科生</td>
                    <td><input class="input_200" type="text" value="天津职业技术师范大学" /></td>
                    <td>其中：专任教师</td>
                    <td><input class="input_120" type="text" value="师范"></td>
                </tr>
                <tr>
                    <td>硕士生</td>
                    <td><input class="input_200" type="text" value="天津职业技术师范大学" /></td>
                    <td>其中：教授</td>
                    <td><input class="input_120" type="text" value="师范"></td>
                </tr>
                <tr>
                    <td>博士生</td>
                    <td><input class="input_200" type="text" value="天津职业技术师范大学" /></td>
                    <td>副教授</td>
                    <td><input class="input_120" type="text" value="师范"></td>
                </tr>
     
                <tr>
                    <td colspan="2">国家／省级重点学科数（个）</td>
                    <td colspan="2"><input class="input_290" type="text" value="师范"></td>
                </tr>
                <tr>
                     <td colspan="2">国家／省部级重点研究基地（个）</td>
                     <td colspan="2"><input class="input_290" type="text" value="师范"></td>
                 </tr>
                 <tr>
                     <td colspan="2">现有固定资产总值（万元）</td>
                     <td colspan="2"><input class="input_290" type="text" value="师范"></td>
                 </tr>
                 <tr>
                      <td colspan="2">其中：房屋建筑物总值（万元）</td>
                      <td colspan="2"><input class="input_290" type="text" value="师范"></td>
                  </tr>
                  <tr>
                     <td colspan="2">房屋建筑物面积（Ｍ２）</td>
                     <td colspan="2"><input class="input_290" type="text" value="师范"></td>
                 </tr>
                 <tr>
                      <td colspan="2">单价40万以上大型仪器设备(台)</td>
                      <td colspan="2"><input class="input_290" type="text" value="师范"></td>
                 </tr>
                 <tr>
                     <td colspan="2">大型专用仪器设备总值（万元）</td>
                     <td colspan="2"><input class="input_290" type="text" value="师范"></td>
                 </tr>
     
                 <tr>
                     <td rowspan="7" class="table_w25">申<br/>请<br/>项<br/>目<br/>基<br/>本<br/>情<br/>况</td>
                     <td rowspan="5">项目类型</td>
                     <td rowspan="5">
                         <div class="project_type">
                            <div class="project_type_black"><samp>教学实验平台</samp><input type="checkbox" checked="checked" /></div>
                            <div class="project_type_black"><samp>科研平台</samp><input type="checkbox" /></div>
                            <div class="project_type_black"><samp>实践基地</samp><input type="checkbox" /></div>
                            <div class="project_type_black"><samp>公共服务体系</samp><input type="checkbox" /></div>
                            <div class="project_type_black"><samp>人才队伍建设</samp><input type="checkbox" /></div>
                         </div>
                     </td>
                     <td>申请资金总额（万元）</td>
                     <td><input class="input_120" type="text" value="师范"></td>
                 </tr>
                 <tr>
                     <td>其中：中央财政</td>
                     <td><input class="input_120" type="text" value="师范"></td>
                 </tr>
                 <tr>
                     <td>地方自筹</td>
                     <td><input class="input_120" type="text" value="师范"></td>
                 </tr>
                 <tr>
                     <td>项目负责人</td>
                     <td><input class="input_120" type="text" value="师范"></td>
                 </tr>
                 <tr>
                     <td>联系电话</td>
                     <td><input class="input_120" type="text" value="师范"></td>
                 </tr>
     
                 <tr>
                     <td colspan="4">
                        项目简介：（概述项目内容、资金安排及预期效益等，详细说明项目测算依据、资金用途和支出方向，设备购置项目要提供设备购置计划。）
                     </td>
                 </tr>
                 <tr>
                     <td colspan="4">
                        <textarea class="textarea_context" id="message-textarea"> 
                            一、项目内容
                            艺术学院动画专业2020年获批天津市一流专业，但现有实验室设备无法满足教学和科研的需要。其实验室现状如下：
                            （1）绿幕抠像实验室
                            绿幕抠像实验室为艺术学院动画系重要的专业实验室之一，该实验室主要面向动画专业影视特效方向的学生，影视特效方向于2012年开始设立，已经培养8届毕业生，有较多的毕业生进入到了影视后期行业从事影视剪辑合成工作。并且教学中通过毕业生及在校生的反馈了解到，学生在校期间，能够应用专业的设备进行拍摄和影视特效合成实践，对学生将来的就业起着至关重要的作用。 目前该实验室内的专业软件及多种拍摄设备已明显落后于业内平均水平，无法满足师生日常的制作需要，急需进行更新换代。并且实验室内摄影摄像设备均已落后于行业需求，学生在制作中明显感觉与业界设备脱轨。并且现有设备套数严重不足，导致上课分组学生无设备可用，已无法满足上课的基本需求，更无法达到行业内需求。
                            （2）定格动画实验室
                            定格动画实验室为艺术学院动画系重要的专业实验室之一，该实验室主要负责艺术学院教师及学生进行定格动画的教学及创作工作，并服务于选择定格动画作为毕业设计的毕业生。目前该实验室内的专业软件及多种拍摄设备已明显落后于业内平均水平，无法满足师生日常的制作需要，急需进行更新换代。并且在实践过程中发现，实验室拍摄设备因需要与摄影棚共用，一旦课程出现时间冲突，设备数量不足以支撑教学使用。同时每年实验室实际创作组数平均为3-4组，实验室内拍摄设备明显供不应求，急需扩大设备量满足师生的创作需要。
                            二、资金安排
                            该项目拟投资24.569万元，其中申请中央资金24.569万元，用于购买微单相机套机2套，预算4万，单反相机套机7套，预算7万，拍摄用微单相机2套，预算3.8万，其他设备见设备购置明细表。项目的具体测算依据如下：
                            依据摄影实验室项目的建设要求，认真开展了项目建设的前期工作。针对实验室拟购置设备和软件，通过政府采购网、京东商城的市场调研和向相关产品代理商进行询价，对比不同设备品牌的价格和性能指标，再结合实验室实训教学和科研的实际需要，综合考虑商家售后服务的便利性，最终得出本项目的资金预算。
                            三、预期效益
                        </textarea>
                     </td>
                 </tr>
            </table>
            <div class="table_footer">
                备注：高校类别指综合类、理工类、师范类、农林类、政法类、医药类、财经类、民族类、语言类、艺术类、体育类及其他等。
            </div>
       </div>

       

    </body>
</html>