<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>2021年支持地方高校改革发展资金情况汇总表</title>
    <link rel="stylesheet" href="CSS/style.css" />
</head>

<body>
    <div class="_title">
        <p>index / 2021年支持地方高校改革发展资金情况汇总表</p>
    </div>

    <div class="button">
        <a href="javascript:;" onclick="javascript :history.go(-1);"><div class="buttonone">返回</div></a>
        <a href="javascript:;"><div class="buttonone">打印</div></a>
        <a href="javascript:;"><div class="buttonone">保存</div></a>
    </div>

    <div class="table_title">
        <p class="table_title_p18">2021年支持地方高校改革发展资金情况汇总表</p>
        <p class="table_title_p10 table_title_p_center">单位:万元</p>
        
        <table>
            <tr class="tr_5">
                <td rowspan="2">序号</td>
                <td rowspan="2">学校/项目名称</td>
                <td colspan="4">资金额度</td>
                <td rowspan="2">备注</td>
            </tr>
            <tr class="tr_5">
                <td>合计</td>
                <td>中央财政</td>
                <td>地方财政</td>
                <td>学校自筹</td>
            </tr>
    
            <tr>
                <td><input class="input_80" type="text" value=""/></td>
                <td><input class="input_210" type="text" value="合  计" /></td>
                <td><input class="input_80" type="text" value="986.684" /></td>
                <td><input class="input_80" type="text" value="870" /></td>
                <td><input class="input_80" type="text" value="" /></td>
                <td><input class="input_80" type="text" value="116.284" /></td>
                <td><input class="input_80" type="text" value="" /></td>
                <td></td>
            </tr>
            <tr>
                <td><input class="input_80" type="text" value="一"/></td>
                <td><input class="input_210" type="text" value="教学实验平台" /></td>
                <td><input class="input_80" type="text" value="540.684" /></td>
                <td><input class="input_80" type="text" value="540.684" /></td>
                <td><input class="input_80" type="text" value="" /></td>
                <td><input class="input_80" type="text" value="" /></td>
                <td><input class="input_80" type="text" value="" /></td>
                <td></td>
            </tr>
            <tr>
                <td><input class="input_80" type="text" value="1"/></td>
                <td><input class="input_210" type="text" value="摄影实验室" /></td>
                <td><input class="input_80" type="text" value="24.569" /></td>
                <td><input class="input_80" type="text" value="24.569" /></td>
                <td><input class="input_80" type="text" value="" /></td>
                <td><input class="input_80" type="text" value="" /></td>
                <td><input class="input_80" type="text" value="" /></td>
                <td></td>
            </tr>
            <tr>
                <td><input class="input_80" type="text" value="二"/></td>
                <td><input class="input_210" type="text" value="科研平台" /></td>
                <td><input class="input_80" type="text" value="400" /></td>
                <td><input class="input_80" type="text" value="283.716" /></td>
                <td><input class="input_80" type="text" value="" /></td>
                <td><input class="input_80" type="text" value="116.284" /></td>
                <td><input class="input_80" type="text" value="" /></td>
                <td></td>
            </tr>
            <tr>
                <td><input class="input_80" type="text" value="1"/></td>
                <td><input class="input_210" type="text" value="毫米波技术实验室" /></td>
                <td><input class="input_80" type="text" value="130" /></td>
                <td><input class="input_80" type="text" value="90" /></td>
                <td><input class="input_80" type="text" value="" /></td>
                <td><input class="input_80" type="text" value="90" /></td>
                <td><input class="input_80" type="text" value="" /></td>
                <td></td>
            </tr>
            <tr>
                <td><input class="input_80" type="text" value="三"/></td>
                <td><input class="input_210" type="text" value="少数民族预科生专项资金" /></td>
                <td><input class="input_80" type="text" value="45.6" /></td>
                <td><input class="input_80" type="text" value="45.6" /></td>
                <td><input class="input_80" type="text" value="" /></td>
                <td><input class="input_80" type="text" value="40" /></td>
                <td><input class="input_80" type="text" value="" /></td>
                <td></td>
            </tr>
        </table>
    </div>

   


</body>

</html>