<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>2021年支持地方高校改革发展资金设备购置明细表</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <div class="_title">
            <p>index / 2021年支持地方高校改革发展资金设备购置明细表</p>
        </div>

        <div class="button">
            <a th:href="@{/allp}"><div class="buttonone">返回</div></a>
            <a href=""><div class="buttonone">打印</div></a>
            <a href=""><div class="buttonone">保存</div></a>
        </div>

        <div class="table_title">
            <h4>2021年支持地方高校改革发展资金设备购置明细表</h4>
            <samp>项目名:摄影实验室项目</samp>
            <samp class="table_title_p_center">金额单位:万元</samp>

            <table>
                <tr>
                    <td>序号</td>
                    <td>设备名称</td>
                    <td>型号或规格</td>
                    <td>单价</td>
                    <td>数量</td>
                    <td>金额</td>
                    <td>国别厂家</td>
                    <td>备注</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>PC工作站</td>
                    <td>CPU：AMD3990X
                        散热： 360一体式水冷
                        主板：ROG ZENITH II EXTREME 
                        GPU：华硕TUF-RTX3090-O24G
                        内存：海盗船128GB
                        硬盘：三星980pro 1TB+2TB
                        机箱：酷冷至尊COSMOS C700M
                        电源：金牌全模组电源
                        显示器：戴尔U2720Q（不含显示器）</td>
                    <td>8.46</td>
                    <td>1</td>
                    <td>8.46</td>
                    <td>中国华硕</td>
                    <td>123456</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">合计</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

       
       

    </body>
</html>